<html>
	<head>
	<meta name="viewport" content="width=device-width"/>
		<title>Login</title>
	</head>

	<body style='height:100vh;display:flex;align-items:center;justify-content:center'>
		<a style='text-decoration:none;background:#660000;padding:8px;color:#fff;border-radius:6px' href="/login/google">Google Login</a>
	</body>

</html>
